.elementor-465 .elementor-element.elementor-element-7b08049 > .elementor-container {min-height: 200px;}
.elementor-465 .elementor-element.elementor-element-7b08049 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-465 .elementor-element.elementor-element-7b08049 {padding: 0px 0px 0px 0px;}
.elementor-465 .elementor-element.elementor-element-f11916d {margin-top: 20px;margin-bottom: 20px;}
.elementor-465 .elementor-element.elementor-element-dbef955 {margin-top: 20px;margin-bottom: 20px;}
.elementor-465 .elementor-element.elementor-element-e0ec0c5 {margin-top: 20px;margin-bottom: 20px;}
.elementor-465 .elementor-element.elementor-element-acd837e {margin-top: 20px;margin-bottom: 20px;}
@media (min-width:768px) {.elementor-465 .elementor-element.elementor-element-7f43d43 {width: 25.025%;}
	.elementor-465 .elementor-element.elementor-element-597e5b6 {width: 74.969%;}
	.elementor-465 .elementor-element.elementor-element-93dead3 {width: 74.873%;}
	.elementor-465 .elementor-element.elementor-element-11f17b4 {width: 25.121%;}
	.elementor-465 .elementor-element.elementor-element-b0b6d20 {width: 24.822%;}
	.elementor-465 .elementor-element.elementor-element-c9b1af4 {width: 75.172%;}
	.elementor-465 .elementor-element.elementor-element-3373951 {width: 74.873%;}
	.elementor-465 .elementor-element.elementor-element-ec90553 {width: 25.121%;}}